#root {
  max-width: 1280px;
 width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Isko delete ya comment out karein */
.content-wrapper {
 flex : 1;
}


/* Content area ko expand karein taaki footer bottom par chala jaye */
main, .home-wrapper, .products-page, .about-container {
  flex: 1; /* Ye bachi hui saari jagah le lega aur footer ko niche push karega */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Elements ko width ke andar rakhega */
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Side scroll khatam karne ke liye */
  background-color: #0d0d0d; /* Taaki white space ki jagah black background dikhe */
}